.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: white;
}

.header h1 {
    background: linear-gradient(to right, #1fb6e0, #9f1fe0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-name {
    cursor: pointer;
    margin: 0;
}

@media (max-width: 640px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}